In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
import pandas as pd
import numpy
import plotly.graph_objects as go

In [3]:
pd.options.display.max_columns = None
pd.options.display.max_rows = 500

In [4]:
root = "yb_hack"
sys.path.append(os.getcwd()[:os.getcwd().find(root)+len(root)])

In [5]:
BATH_PATH= r'C:\\Users\\Swiss SDI\\OneDrive\\Bureau\\hackathon\\yb_hack\\data\\Daten'

In [16]:
lz_path = os.path.join(BATH_PATH, '0_Lagerzug채nge 110_200_10_01.01.20_31.05.20.xlsx')
lz = pd.read_excel(io=lz_path, header=2)
la_path = os.path.join(BATH_PATH, '0_Lagerabg채nge 110_200_10_01.01.20_31.05.20.xlsx')
la = pd.read_excel(io=la_path, header=2)
sorten_path = os.path.join(BATH_PATH, '0_Sorten_und_Sortengruppen.xlsx')
sorten = pd.read_excel(io=sorten_path, header=0)

In [17]:
lz.head(1)

,Gruppe,Sorte,Sortenbezeichnung,Menge,Preis,ME,Kosten,Wert,L-Datum,Wiege-Nr.,Konto,Beleg-Nr,Lager,Abt,PC,Waggon/KFZ,Kontrakt,SB,WIP,Scheck
0,105.0,11161.0,Schwerschrott 8s2,0.0,0.0,to,0.0,-510.2,2020-01-01,0.0,9110610.0,130050808,200.0,110.0,0.0,NaN,NaN,DOG,NaN,0.0

In [18]:
la.head(1)

,Gruppe,Sorte,Sortenbezeichnung,Menge,Preis,ME,Kosten,Wert,L-Datum,Wiege-Nr.,Konto,Beleg-Nr,Lager,Abt,PC,Waggon/KFZ,Kontrakt,SB,WIP,Scheck
0,100.0,10000.0,Leichteisen / Shreddervormaterial,0,0.0,to,0.0,11.8,2020-01-01,1.0,9110620.0,130050609,200.0,110.0,0.0,NaN,NaN,ANA,NaN,0.0

In [19]:
sorten.head(1)

,Gruppe,Gruppe Kurzname,Sorte,Kurzname,Bezeichnung,Sortenklasse,Sparte,Mengeneinheit,Umrechnungsfaktor Einkauf,je ME,Umrechnungsfaktor Verkauf,je ME.1
0,100,SHREDDERPR,10000,LEICHTEISE,Leichteisen / Shreddervormaterial,Bestandsf체hrung auf Gruppenebene,FE-Schrott,to,0,NaN,0,NaN

# Analyse Stock